<!doctype html>
<html>
    <style>
        .error {
            color: red;
        }
    </style>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <a href="/">Main Blog Page</a>&emsp;<a href="/newpost">Add a Blog Entry</a>

        {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
            {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
            {% endfor %}
        {% endwith %}
        </ul>

        {% block content %}
        {% endblock %}

    </body>
</html>